HELP.md
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

/nbdist/
/.nb-gradle/
node_modules

### VS Code ###
.vscode/
*.log
archive/
**/.DS_Store
backend/jdbc-drivers/
backend/target
backend/drivers/*
.env
frontend/build/
frontend/dist/
frontend/node_modules
frontend/.local
frontend/.env.local
frontend/tsconfig.tsbuildinfo
frontend/tsconfig.node.tsbuildinfo
frontend/src/types/components.d.ts
frontend/src/types/vue-router.d.ts
.alma-snapshots
deploy.sh
