HELP.md
backend/target/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

frontend/dist/
frontend/node_modules
/nbdist/
/.nb-gradle/
frontend/build/
node_modules

### VS Code ###
.vscode/
*.log
archive/
**/.DS_Store
backend/jdbc-drivers/
backend/target
backend/drivers/*
.env
/frontend/.local
/frontend/.env.local
/frontend/tsconfig.tsbuildinfo
/frontend/tsconfig.node.tsbuildinfo
.alma-snapshots
