HELP.md
backend/target/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

frontend/dist/
frontend/node_modules
/nbdist/
/.nb-gradle/
frontend/build/

### VS Code ###
.vscode/
*.log
archive/
**/.DS_Store
backend/jdbc-drivers/
.env
