<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>Registration</title>

    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet">
</head>

<body class="login-body">

<div class="container">


    <form class="form-signin" action="#" th:action="@{/register}" method="post" th:object="${user}">
        <div class="form-signin-heading text-center">
            <h1 class="sign-title">新用户注册</h1>
            <img src="/images/login-logo.png" alt=""/>

             <!-- failed message -->

            <div th:if="${param.failed}">
                <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
                    <symbol id="exclamation-triangle-fill" viewBox="0 0 64 64">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </symbol>
                    </svg>
                <div class="form-control alert alert-danger d-flex align-items-center" role="alert">
                    <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                    <div class="form-control">
                        注册失败！
                    </div>
                    </div>
            </div>
        </div>

        <div class="login-wrap">
            <p>输入您的个人信息</p>
            <input type="text" autofocus="" id="username" placeholder="用户名" required th:field="*{username}" class="form-control">
            <input type="text" autofocus="" id="name" placeholder="全名" required th:field="*{name}" class="form-control">
            <input type="text" autofocus="" id="email" placeholder="邮箱" required th:field="*{email}" class="form-control">
            <input type="text" autofocus="" id="phone" placeholder="联系电话" required th:field="*{phone}" class="form-control">
            <input type="password" id="password" placeholder="密码" required th:field="*{password}" class="form-control">
            <input type="password" id="password1" placeholder="确认密码" required class="form-control">
            <button type="submit" class="btn btn-lg btn-login btn-block">
                <i class="fa fa-check"></i>
            </button>

            <div class="registration">
                已经注册。
                <a href="/login" class="">
                    去登陆
                </a>
            </div>

        </div>

    </form>

</div>



<!-- Placed js at the end of the document so the pages load faster -->

<!-- Placed js at the end of the document so the pages load faster -->
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>

</body>
</html>
