<html th:replace="~{layout :: layout(~{::title}, ~{::#breadcrumb}, ~{::section})}" lang="zh">
<head>
    <title>ETL | Table</title>
</head>
<body>
<div id="breadcrumb">
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li><a href="/conf/index" th:href="@{/conf/index}">主表配置</a></li>
        <li> <a href="/impdb/list" th:href="@{/impdb/list}">数据源管理</a>  </li>
        <li class="active"> 数据源详情</li>
    </ul>
</div>
<section>

</section>
</body>
</html>