<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 默认日志路径：如果没有通过 Spring 配置 logging.file.path 提供，则使用 ./logs -->
    <property name="LOG_PATH" value="${logging.file.path:-./logs}" />

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %cyan(%d{yyyy-MM-dd HH:mm:ss.SSS}) %highlight(%-5level) [%blue(%t)] %yellow(%C): %msg%n%throwable
            </pattern>
        </encoder>
    </appender>

    <appender name="RollingFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/addax-admin.log</file>
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %C [%t] %m%n</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 1000 MegaBytes -->
            <!-- 归档日志自动压缩：将归档文件名后缀改为 .gz -->
            <fileNamePattern>${LOG_PATH}/addax-admin-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>1000MB</maxFileSize>
        </rollingPolicy>
    </appender>

    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="RollingFile" />
        <appender-ref ref="Console" />
    </root>

</configuration>
